<div class="dashboard-container">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">AI Interview Platform</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <div class="user-info" *ngIf="currentUser">
        <p>{{ currentUser.firstName }} {{ currentUser.lastName }}</p>
        <p class="user-email">{{ currentUser.email }}</p>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [opened]="isMenuOpen" class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/candidates" routerLinkActive="active">
          <mat-icon>people</mat-icon>
          <span>Candidates</span>
        </a>
        <a mat-list-item routerLink="/job-descriptions" routerLinkActive="active">
          <mat-icon>work</mat-icon>
          <span>Job Descriptions</span>
        </a>
        <a mat-list-item routerLink="/interviews" routerLinkActive="active">
          <mat-icon>event</mat-icon>
          <span>Interviews</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> 